{% extends 'layout/dashboard.html' %}
{% block dashboard_content %}
<div id="dashboard-page">

    <div class="col-11 mx-auto">
        <div class="p-4">
            <h1 class="welcome-title d-inline-flex align-items-center"> <span class="iconify-inline me-2 display-3 " data-icon="healthicons:doctor"></span><span style="line-height:0px">Show All Doctor</span></h1>
        </div>
        <table class="hnazmul-table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Age</th>
                    <th>Specialize</th>
                    <th>address</th>
                    <th>Mobile</th>
                    <th>Salary</th>
                    {% if user.is_admin %}<th>Action</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctors %}
                <tr>
                    <td>{{doctor.fullname}}</td>
                    <td>{{doctor.age}}</td>
                    <td>{{doctor.specialize}}</td>
                    <td>{{doctor.address}}</td>
                    <td>{{doctor.mobile}}</td>
                    <td>{{doctor.salary}}</td>
                    {% if user.is_admin %}
                    <td>
                        <a href="{% url 'updateDoctor' doctor.id %}" class="btn sm btn-danger">
                            <span class="iconify-inline" data-icon="dashicons:edit-large"></span></a>
                        <a href="{% url 'delDoctor' doctor.id %}" class="btn sm btn-danger">
                            <span class="iconify-inline" data-icon="bi:trash-fill"></span></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if user.is_admin %}
            <div class="text-center mt-4">
                <a href="{% url 'addDoctor' %}"
                    class="primary-dark-bg text-decoration-none btn fs-4 text-light px-2 px-md-5 rounded-pill">Add
                    Doctor</a>

            </div>
        {% endif %}
    </div>

</div>


{% endblock dashboard_content %}