{% extends 'layout/dashboard.html' %}
{% block dashboard_content %}
    <div id="dashboard-page">

        <div class="col-11 mx-auto">
            <div class="p-4">
                <h1 class="welcome-title">Show All Patient</h1>
            </div>
            <table class="hnazmul-table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>Age</th>
                        <th>Reason</th>
                        <th>address</th>
                        <th>Fee</th>
                        <th>Mobile</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{patient.fullname}}</td>
                            <td>{{patient.age}}</td>
                            <td>{{patient.symptoms}}</td>
                            <td>{{patient.address}}</td>
                            <td>{{patient.feeStatus}}</td>
                            <td>{{patient.mobile}}</td>
                            <td><a href="{% url 'delPatient' patient.id %}" class="btn sm btn-danger">Delete</a> </td>
                        </tr>
                    
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a href="{% url 'addPatient' %}" class="primary-dark-bg text-decoration-none btn fs-4 text-light px-2 px-md-5 rounded-pill">Add Patient</a>
            </div>
        </div>

    </div>
    

{% endblock dashboard_content %}