@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$dark-primary: #c0a7c3;
$primary: #fce6f2;
$primary-shadow: 7px 28px 59px rgba(149, 2, 2, 0.12);

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box !important;
}

.primary-dark-text {
    color: $dark-primary;
}
.primary-dark-bg {
    background: $dark-primary;
}
.default-scrollbar {
    &::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ecafc1;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #fbe7eb;
    }
}
.input-cm {
    input,select,option {
        border: none;
        font-size: 20px;
        background: $primary;
        width: 100%;
        padding: 10px;
        border-bottom: 5px solid $dark-primary;
        transition: 0.2s;
        &:focus {
            outline: none;
            background: darken($color: $primary, $amount: 5);
        }
    }
}
.header {
    min-height: 100vh;
    background: url("../images/primary-background-min.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    display: grid;
    place-items: center;

    .login-form {
        background: white;
        padding: 50px;
        box-shadow: $primary-shadow;
        border-radius: 30px;

        .login-form-input {
            margin-bottom: 20px;
            @extend .input-cm
        }
    }
}
.cs-container {
    max-width: 1300px;
    margin: auto;
    padding: 10px;
    // overflow-x: hidden;
}


/* Dashboard css */

#dashboard {
    min-height: 100vh;
    background: url("../images/primary-background-min.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    display: flex;
    aside.sitebar {
        width: 300px;
        height: 100vh;
        background: linear-gradient(193.11deg, #ffffff 3.65%, rgba(255, 255, 255, 0.44) 43.74%, rgba(196, 196, 196, 0) 96.49%);
        filter: drop-shadow(16px 0px 100px rgba(232, 149, 175, 0.42));
        overflow-y: auto;
        padding: 20px;
        @extend .default-scrollbar;
    }
    main.main {
        width: calc(100% - 300px);
        height: 100vh;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1400px) {
    #dashboard {
        aside.sitebar {
            width: 450px;
        }
    }
}

aside.sitebar {
    display: grid;
    place-items: center;
    .all-element {
        h3 {
            font-weight: bold;
            text-align: center;
            color: darken($primary, 8%);
            margin-bottom: 20px;
        }
    }
}

.quick-action-cards {
    width: 100%;
    margin: 0px;
    gap: 10px;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    .quick-action-card {
        background: white;
        padding: 10px;
        width: calc(50% - 7px);
        border-radius: 10px;
        text-align: center;
        box-shadow: $primary-shadow;
        cursor: pointer;
        transition: 0.3s;
        display: block;
        color: #bdbdbd;
        text-decoration: none;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::after{
            content: "";
            display: block;
            width: 0%;
            position: absolute;;
            right:0px;
            bottom: 0px;
            background-color: #ff7ea4;
            height: 5px;
            transition: 0.7s;
            
        }
        &:hover {
            transform: scale(1.05);
            &::after{
               right: auto;
               left:0px;
               width: 100%;
           }
        }
        p {
            line-height: 1;
            margin-top: 10px;
        }
    }
}

#dashboard-page {
    .welcome-title {
        font-weight: 800;
        color: $dark-primary;
    }
}

.information-cards {
    display: flex;
    padding: 20px;
    width: 100%;
    .information-card {
        .content {
            background: white;
            padding: 10px;
            text-align: center;
            min-height: 300px;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            border-radius: 20px;
            box-shadow: $primary-shadow;
            color: white;
            position: relative;
            z-index: 1;
            cursor: pointer;
            overflow: hidden;
            transition: 0.8s;
            h1 {
                font-size: 80px;
                hyphens: auto;
                word-wrap: break-word;
                overflow-wrap: break-word;
                transition: 0.3s;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: white;
                left: 0px;
                top: 0px;
                clip-path: circle(0% at 100% 0);
                transition: 0.4s;
            }

            &:hover {
                transform: translateY(-20px);
                &::before {
                    clip-path: circle(141.4% at 100% 0);
                }
                h1,
                h3 {
                    color: $dark-primary;
                }
            }
        }

        &:nth-child(1) {
            .content {
                background: linear-gradient(196.61deg, #fba0a1 10.72%, #ff7ea4 96.44%);
            }
        }
        &:nth-child(2) {
            .content {
                background: linear-gradient(201.48deg, #f9a0a6 6.5%, #7b40ea 91.93%);
            }
        }
        &:nth-child(3) {
            .content {
                background: linear-gradient(180deg, #3880e6 0%, #21bde3 100%);
            }
        }
    }
}

/* Table Css code here */
.hnazmul-table {
    width: 100%;
    thead {
        tr > th {
            background: white;
            padding: 15px;
            box-shadow: $primary-shadow;
            font-size: 18px;
            color: #bdbdbd;
        }
    }
    tbody {
        tr {
            td {
                background: white;
                padding: 10px 20px;
                box-shadow: $primary-shadow;
                color: #8b8b8b;
            }

            &:nth-child(odd) {
                td {
                    background: darken($primary, 3%);
                }
            }
        }
    }
}

/* Form Css */
.add-form {
    background: white;
    padding: 50px;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: $primary-shadow;
}
